openapi: 3.1.0

info:
  title: TechCo Backend API
  description: API documentation for the TechCo backend services.
  version: 1.0.0

servers:
  - url: https://api.techco.com/v1
    description: Production server
  - url: https://staging-api.techco.com/v1
    description: Staging server

paths:
  /sign_up:
    post:
      summary: Register a new user/company
      description: Register a new user and their company.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "201":
          description: User created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /auth/signup:
    post:
      summary: Sign up a new user
      description: Sign up a new user using Cognito.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "200":
          description: User signed up
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /business/create:
    post:
      summary: Create a new business
      description: Create a new business entity.
      parameters:
        - name: Authorizer
          in: header
          required: true
          description: The ID token of the user.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Business"
      responses:
        "200":
          description: Business created
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  body:
                    $ref: "#/components/schemas/Business"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /business/update/{id}:
    put:
      summary: Update a business
      description: Update an existing business entity.
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the business to update.
          schema:
            type: string
        - name: Authorizer
          in: header
          required: true
          description: The ID token of the user.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Business"
      responses:
        "200":
          description: Business updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  body:
                    $ref: "#/components/schemas/Business"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /business/{id}:
    get:
      summary: Get a business
      description: Get an existing business entity if it exists and is related to the user.
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the business to retrieve.
          schema:
            type: string
        - name: Authorizer
          in: header
          required: true
          description: The ID token of the user.
          schema:
            type: string
      responses:
        "200":
          description: Business retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Business"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /business/list:
    get:
      summary: Get all businesses
      description: Get all businesses related to the user.
      parameters:
        - name: Authorizer
          in: header
          required: true
          description: The ID token of the user.
          schema:
            type: string
      responses:
        "200":
          description: Businesses retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Business"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /auth/start_auth:
    post:
      summary: Start authentication
      description: Start the authentication process.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthStart"
      responses:
        "200":
          description: Authentication started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthStartResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /auth/verify_auth_otp_code_sign_up:
    post:
      summary: Verify OTP code
      description: Verify the OTP code for authentication.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyOTPSignUp"
      responses:
        "200":
          description: OTP verified
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyOTPResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /auth/refresh_tokens:
    post:
      summary: refresh tokens cognito
      description: Service to refresh accessToken and IdToken from cognito.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/refreshTokens"
      responses:
        "200":
          description: tokens refreshed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/refreshTokensResponse"
        "500":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /auth/verify_auth_otp_code:
    post:
      summary: Verify OTP code
      description: Verify the OTP code for authentication.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyOTP"
      responses:
        "200":
          description: OTP verified
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyOTPResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /auth/sign_out:
    post:
      summary: Sign out
      description: Sign out the authenticated user.
      parameters:
        - name: Authorizer
          in: header
          required: true
          description: The ID token of the user.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SignOut"
      responses:
        "200":
          description: User signed out
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignOutResponse"
        "401":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignOutError"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /user/create:
    post:
      summary: Create user
      description: Saves the data of a user in DocumentDB in the user collection, the email is a unique field that should not be repeated for any user.
      parameters:
        - name: Authorizer
          in: header
          required: true
          description: The ID token of the user.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUser"
      responses:
        "200":
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateUserResponse"
        "400":
          description: Value error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateUserValueError"
        "422":
          description: Validation error request data and/or type data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateUserValidationError"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /user/list:
    get:
      summary: List users
      description: get user data for all user asociated to a business, or one user searched by id.
      parameters:
        - name: business_id
          in: query
          required: true
          description: The ID of the business.
          schema:
            type: string
        - name: id
          in: query
          required: false
          description: The ID of the user.
          schema:
            type: string
        - name: all
          in: query
          required: false
          description: Flag to indicate if all users should be retrieved.
          schema:
            type: boolean
      responses:
        "200":
          description: User found successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListUserResponse"
        "400":
          description: Value error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListUserValueError"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /user/status:
    put:
      summary: Update users status
      description: Update user status, if new ststus is disabled, signout session for user.
      parameters:
        - name: email
          in: query
          required: true
          description: in the user's email that the update is being made.
          schema:
            type: string
        - name: Authorizer
          in: header
          required: true
          description: The ID token of the user.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserStatus"
      responses:
        "200":
          description: User updated successfully / User disabled successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateUserStatusResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /user/data:
    put:
      summary: Update users general data
      description: Update user general data, full_name or role.
      parameters:
        - name: Authorizer
          in: header
          required: true
          description: The ID token of the user.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserData"
      responses:
        "200":
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateUserDataResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /position/list:
    get:
      summary: List positions
      description: get vacancies data asociated to a business and the user, or an especific position_id.
      parameters:
        - name: business_id
          in: query
          required: true
          description: The ID of the business.
          schema:
            type: string
        - name: user_id
          in: query
          required: true
          description: The ID of the user.
          schema:
            type: string
        - name: id
          in: query
          required: false
          description: The ID of the position.
          schema:
            type: string
        - name: all
          in: query
          required: false
          description: Flag to indicate if all users should be retrieved.
          schema:
            type: boolean
        - name: Authorizer
          in: header
          required: true
          description: The ID token of the user.
          schema:
            type: string
      responses:
        "200":
          description: Position found successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPositionResponse"
        "400":
          description: Value error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPositionValueError"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /position/token:
    get:
      summary: get data position by token JWT
      description: get DATA vacancies asociated to a business and the hiring process and position.
      parameters:
        - name: token
          in: query
          required: true
          description: The token of the especific hiring process asociated to the porfile.
          schema:
            type: string
      responses:
        "200":
          description: Position found successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPositionByTokenResponse"
        "400":
          description: Value error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPositionByTokenValueError"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /position/status:
    put:
      summary: upadte position status by position_id
      description: update vacancies status asociated to a position id.
      parameters:
        - name: Authorizer
          in: header
          required: true
          description: The ID token of the user.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePositionStatus"
      responses:
        "200":
          description: Position updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatePositionStatusResponse"
        "400":
          description: Value error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdatePositionStatusValueError"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /hiring_process/id:
    get:
      summary: get data hiring_process by id
      description: get DATA hiring process asociated to a position and user permissions.
      parameters:
        - name: hiring_process_id
          in: query
          required: true
          description: The id of the especific hiring process.
          schema:
            type: string
      responses:
        "200":
          description: Hiring process found successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HiringProcessByIdResponse"
        "400":
          description: Value error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HiringProcessByIdValueError"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /hiring_process/update:
    put:
      summary: Update hiring_process general data
      description: Update hiring_process general data, full_name or role.
      parameters:
        - name: Authorizer
          in: header
          required: true
          description: The ID token of the user.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateHiringProcessById"
      responses:
        "200":
          description: Hiring process updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateHiringProcessByIdResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /hiring_process/custom_fields/update:
    put:
      summary: Update hiring_process, only custom fields
      description: Update hiring_process only custom fields in phases.
      parameters:
        - name: Authorizer
          in: header
          required: true
          description: The ID token of the user.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateHiringProcessCustomFieldsById"
      responses:
        "200":
          description: Hiring process updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateHiringProcessCustomFieldsByIdResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /profile/filter/start:
    post:
      summary: Start profile filter process
      description: Start the profile filter process.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfileFilterStart"
      responses:
        "200":
          description: Profile filter process started
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileFilterStartResponse"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /notifiaction/list:
    get:
      summary: Get notifications list
      description: Get notifications list.
      responses:
        "200":
          description: Notification find successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetNotificationListResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /notifiaction/create:
    post:
      summary: Create notification
      description: Create notification as new.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostNotification"
      responses:
        "200":
          description: Notification created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostNotificationResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /notifiaction/status:
    put:
      summary: Update notification status
      description: Update notification status to READ.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateNotificationStatus"
      responses:
        "200":
          description: Notification updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateNotificationStatusResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /position_configuration/list:
    get:
      summary: Get position configuration list
      description: Get position configuration list.
      parameters:
        - name: id
          in: query
          required: false
          description: The ID of the position_configuration.
          schema:
            type: string
        - name: business_id
          in: query
          required: false
          description: The ID of the business.
          schema:
            type: string
        - name: all
          in: query
          required: false
          description: Flag to indicate if all position configuration should be retrieved.
          schema:
            type: boolean
      responses:
        "200":
          description: position configuration find successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPositionConfigurationListResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /position_configuration/create:
    post:
      summary: Create position configuration
      description: Create position configuration as new.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostPositionConfiguration"
      responses:
        "200":
          description: position configuration created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostPositionConfigurationResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /position_configuration/update:
    put:
      summary: Update position configuration
      description: Update position configuration as new.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PutPositionConfiguration"
      responses:
        "200":
          description: position configuration updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PutPositionConfigurationResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /llm/message_history/{thread_id}:
    get:
      summary: Get history message llm
      description: Get history message llm.
      parameters:
        - name: limit
          in: query
          required: false
          description: The limit of pagunation, default value is 20.
          schema:
            type: string
        - name: message_id
          in: query
          required: false
          description: The ID of the last message for obteain next pagination, begining not send this param or send as a void string ("").
          schema:
            type: string
        - name: thread_id
          in: path
          required: true
          description: is the id of the conversation stared by the llm.
          schema:
            type: string
      responses:
        "200":
          description: messages found successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetLlmMessagesHistoryResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /position_configuration/complete/phase:
    post:
      summary: Complete and save data phase
      description: Complete and save data phase.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompletePhaseRequest"
      responses:
        "200":
          description: phase completed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompletePhaseResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"
  /position_configuration/next_phase:
    post:
      summary: Next phase
      description: Next phase.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NextPhaseRequest"
      responses:
        "200":
          description: phase completed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PositionConfiguration"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"

  /position_configuration/create/position:
    post:
      summary: Create position based on it's configuration
      description: Create a new position based on the configuration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePositionRequest"
      responses:
        "200":
          description: position configuration created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePositionResponse"
        "400":
          description: Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Exception response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Exception"

components:
  schemas:
    Role:
      type: string
      enum:
        - super_admin
        - business_admin
        - position_owner
        - recruiter
    BusinessRole:
      type: object
      properties:
        business_id:
          type: string
          format: uuid
        role:
          type: string
          $ref: "#/components/schemas/Role"
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        full_name:
          type: string
        email:
          type: string
          format: email
        company_position:
          type: string
        roles:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/BusinessRole"
        business:
          type: object
          properties:
            name:
              type: string
            address:
              type: string
      required:
        - full_name
        - email
        - company_position
        - business
    Business:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        country_code:
          type: string
        company_size:
          type: string
        logo:
          type: string
        description:
          type: string
        url:
          type: string
          format: uri
        linkedin_url:
          type: string
          format: uri
        segment:
          type: string
        industry:
          type: string
        parent_business_id:
          type: string
      required:
        - name
        - country_code
        - company_size
    AuthStart:
      type: object
      properties:
        email:
          type: string
          format: email
    AuthStartResponse:
      type: object
      properties:
        message:
          type: string
          example: OTP sent successfully.
        body:
          type: object
          properties:
            session:
              example: example_session_string
    VerifyOTPSignUp:
      type: object
      properties:
        session:
          type: string
          example: example_session_string
        otp:
          type: string
          example: 1234
        email:
          type: string
          example: mail.@mail.co
        company_name:
          type: string
          example: Pepsico
        company_position:
          type: string
          example: recruiter
        country_code:
          type: string
          example: CO
        company_size:
          type: string
          example: A
          description: Should follow next pattern [A,B,C,D] https://learn.microsoft.com/en-us/linkedin/shared/references/reference-tables/company-size-codes
    VerifyOTP:
      type: object
      properties:
        email:
          type: string
          example: mail@mail.co.
        session:
          type: string
          example: example_session_string
        otp:
          type: string
          example: 123456
    VerifyOTPResponseSignUp:
      type: object
      properties:
        message:
          type: string
          example: Successfully authenticated.
        body:
          type: object
          properties:
            idToken:
              type: string
              example: fake_id_token.
            accessToken:
              type: string
              example: fake access token.
            refreshToken:
              type: string
              example: fale refresh token.
            user:
              type: object
              $ref: "#/components/schemas/User"
            business:
              type: object
              $ref: "#/components/schemas/Business"
    VerifyOTPResponse:
      type: object
      properties:
        message:
          type: string
          example: Successfully authenticated.
        idToken:
          type: string
          example: fake_id_token.
        accessToken:
          type: string
          example: fake access token.
        refreshToken:
          type: string
          example: fale refresh token.
    refreshTokens:
      type: object
      properties:
        refresh_token:
          type: string
          example: fake-refresh-token
    refreshTokensResponse:
      type: object
      properties:
        message:
          type: string
          example: Tokens refreshed successfully.
        body:
          type: object
          properties:
            idToken:
              type: string
              example: fake_id_token.
            accessToken:
              type: string
              example: fake access token.
            expires_in:
              type: string
              example: 36000
    SignOut:
      type: object
      properties:
        access_token:
          type: string
          example: fake access token.
    SignOutResponse:
      type: object
      properties:
        message:
          type: string
          example: User successfully signed out.
    SignOutError:
      type: object
      properties:
        message:
          type: string
          example: Unauthorized Invalid or expired token.
    Error:
      type: object
      properties:
        message:
          type: string
    Exception:
      type: object
      properties:
        error:
          type: string
          example: Unexpected error
    CreateUser:
      type: object
      properties:
        business_id:
          type: string
          example: id_123456kjhsad_3124987_sdak
        full_name:
          type: string
          example: name completed user
        email:
          type: string
          example: fake@mail.co
        company_position:
          type: string
          example: auxiliar rrhh
        role:
          type: string
          $ref: "#/components/schemas/Role"
          example: recruiter
      required:
        - business_id
        - full_name
        - email
        - company_position
        - role
    CreateUserResponse:
      type: object
      properties:
        message:
          type: string
          example: User created successfully.
        body:
          type: object
          properties:
            user:
              type: object
              properties:
                _id:
                  type: string
                  example: id_123456kjhsad_3124987_sdak
    CreateUserValueError:
      type: object
      properties:
        message:
          type: string
          example: Validation error while saving user.
    CreateUserValidationError:
      type: object
      properties:
        message:
          type: string
          example: 1 validation error for UserDTO\nfull_name\n  Field required...
    ListUserResponse:
      type: object
      properties:
        message:
          type: string
          example: User found successfully.
        body:
          type: object
          properties:
            data:
              type: object
              properties:
                _id:
                  type: string
                  example: id_123456kjhsad_3124987_sdak
                full_name:
                  type: string
                  example: name_1 name_2 last_name
                email:
                  type: string
                  example: ecxample@email.com
                company_position:
                  type: string
                  example: recluter rrhh
                rol:
                  type: string
                  example: id_123456kjhsad_3124987_sdak
                business_id:
                  type: string
                  example: id_123456kjhsad_3124987_sdak
                status:
                  type: string
                  example: active
    ListUserValueError:
      type: object
      properties:
        message:
          type: string
          example: Validation error while saving user.
    UpdateUserStatus:
      type: object
      properties:
        user_id:
          type: string
          example: id_123456kjhsad_3124987_sdak
        user_status:
          type: string
          example: enabled
        user_email:
          type: string
          example: fake@mail.co
      required:
        - user_id
        - user_status
        - user_email
    UpdateUserStatusResponse:
      type: object
      properties:
        message:
          type: string
          example: User updated successfully.
    UpdateUserData:
      type: object
      properties:
        user_id:
          type: string
          example: id_123456kjhsad_3124987_sdak
        user_full_name:
          type: string
          example: pepito perez
        company_position:
          type: string
          example: expert recruiter
        user_role:
          type: string
          example: recruiter
        user_email:
          type: string
          example: fake@mail.co
        business_id:
          type: string
          example: id_123456kjhsad_3124987_sdak
      required:
        - user_id
        - user_email
    UpdateUserDataResponse:
      type: object
      properties:
        message:
          type: string
          example: User updated successfully.
    ListPositionResponse:
      type: object
      properties:
        message:
          type: string
          example: Position updated successfully.
        body:
          type: object
          properties:
            data:
              type: object
              properties:
                id:
                  type: string
                  example: "679077da2d6626a2b007f8f9"
                created_at:
                  type: string
                  example: "2025-01-03T01:34:59.063000"
                updated_at:
                  type: string
                  example: "2025-01-03T01:34:59.063000"
                deleted_at:
                  type: string
                  nullable: true
                  example: null
                business_id:
                  type: string
                  example: "679077da2d6626a2b007f8f9"
                owner_position_user_id:
                  type: string
                  example: "679077da2d6626a2b007f8f9"
                owner_position_user_name:
                  type: string
                  example: "pepito owner position"
                recruiter_user_id:
                  type: string
                  example: "679077da2d6626a2b007f8f9"
                recruiter_user_name:
                  type: string
                  example: "pablo user recruiter"
                responsible_users:
                  type: array
                  items:
                    type: object
                    properties:
                      user_id:
                        type: string
                        example: "679077da2d6626a2b007f8f9"
                      can_edit:
                        type: boolean
                        example: true
                role:
                  type: string
                  example: "developer"
                hiring_priority:
                  type: string
                  example: "high"
                seniority:
                  type: string
                  example: "junior"
                country:
                  type: string
                  example: "CO"
                city:
                  type: string
                  example: "Bogota"
                description:
                  type: string
                  example: "description"
                responsabilities:
                  type: array
                  items:
                    type: string
                  example: ["responsability_1", "responsability_2"]
                skills:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        example: "django"
                      required:
                        type: boolean
                        example: true
                benefits:
                  type: string
                  example: "plan carrera"
                salary_range:
                  type: object
                  properties:
                    currency:
                      type: string
                      example: "COP"
                    salary:
                      type: string
                      nullable: true
                      example: "10000000"
                    salary_range:
                      type: object
                      nullable: true
                      properties:
                        min:
                          type: string
                          example: "9000000"
                        max:
                          type: string
                          example: "12000000"
                languages:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        example: "ingles"
                      level:
                        type: string
                        example: high
                work_mode:
                  type: string
                  example: "Remote"
                status:
                  type: string
                  example: "ACTIVE"
                hiring_processes:
                  type: array
                  items:
                    type: object
                    properties:
                      _id:
                        type: string
                        example: "679077da2d6626a2b007f8f9"
                      created_at:
                        type: string
                        example: "2025-01-03T01:34:59.063000"
                      updated_at:
                        type: string
                        example: "2025-01-03T01:34:59.063000"
                      deleted_at:
                        type: string
                        nullable: true
                        example: null
                      position_id:
                        type: string
                        example: "67c7639f1ad8328f2a3184aa"
                      business_id:
                        type: string
                        example: "67ab6e79c1839d2a5caecefb"
                      card_id:
                        type: integer
                        example: 1234568979
                      phase_id:
                        type: integer
                        example: 123456
                      status:
                        type: string
                        example: "STARTED"
                      profile:
                        type: object
                        properties:
                          timestamp:
                            type: string
                            example: "Mon Mar 03 2025 10:00:00 GMT-0500 (hora estándar de Colombia)"
                          linkedin_num_id:
                            type: string
                            example: "277819915"
                          name:
                            type: string
                            nullable: true
                            example: null
                          country_code:
                            type: string
                            nullable: true
                            example: null
                          position:
                            type: string
                            nullable: true
                            example: null
                          city:
                            type: string
                            nullable: true
                            example: null
                          current_company:
                            type: string
                            nullable: true
                            example: null
                          about:
                            type: string
                            nullable: true
                            example: null
                          posts:
                            type: string
                            nullable: true
                            example: null
                          experience:
                            type: string
                            nullable: true
                            example: null
                          url:
                            type: string
                            nullable: true
                            example: null
                          people_also_viewed:
                            type: string
                            nullable: true
                            example: null
                          educations_details:
                            type: string
                            nullable: true
                            example: null
                          education:
                            type: string
                            nullable: true
                            example: null
                          recommendations_count:
                            type: string
                            nullable: true
                            example: null
                          avatar:
                            type: string
                            nullable: true
                            example: null
                          languages:
                            type: string
                            nullable: true
                            example: null
                          certifications:
                            type: string
                            nullable: true
                            example: null
                          recommendations:
                            type: string
                            nullable: true
                            example: null
                          volunteer_experience:
                            type: string
                            nullable: true
                            example: null
                          courses:
                            type: string
                            nullable: true
                            example: null
                          followers:
                            type: string
                            nullable: true
                            example: null
                          connections:
                            type: string
                            nullable: true
                            example: null
                          current_company_company_id:
                            type: string
                            nullable: true
                            example: null
                          current_company_name:
                            type: string
                            nullable: true
                            example: null
                          publications:
                            type: string
                            nullable: true
                            example: null
                          patents:
                            type: string
                            nullable: true
                            example: null
                          projects:
                            type: string
                            nullable: true
                            example: null
                          organizations:
                            type: string
                            nullable: true
                            example: null
                          input_url:
                            type: string
                            nullable: true
                            example: null
                          linkedin_id:
                            type: string
                            nullable: true
                            example: null
                          activity:
                            type: string
                            nullable: true
                            example: null
                          banner_image:
                            type: string
                            nullable: true
                            example: null
                          honors_and_awards:
                            type: string
                            nullable: true
                            example: null
                          similar_profiles:
                            type: string
                            nullable: true
                            example: null
                          default_avatar:
                            type: string
                            nullable: true
                            example: null
                          memorialized_account:
                            type: string
                            nullable: true
                            example: null
                          profile_evaluation:
                            type: string
                            nullable: true
                            example: null
                          link_vacancy_form:
                            type: string
                            nullable: true
                            example: null
                          card_id:
                            type: string
                            nullable: true
                            example: null
                      phase_history:
                        type: array
                        items:
                          type: object
                          properties:
                            from_phase:
                              type: object
                              properties:
                                phase_id:
                                  type: integer
                                  example: 123654
                                name:
                                  type: string
                                  example: "ASÑDLKAS"
                            to_phase:
                              type: object
                              properties:
                                phase_id:
                                  type: integer
                                  example: 123654
                                name:
                                  type: string
                                  example: "ASÑDLKAS"
                            date:
                              type: string
                              format: date-time
                              example: "2025-03-03T15:00:00"
                      phases:
                        type: object
                        # additionalProperties:
                        #   type: object

    ListPositionValueError:
      type: object
      properties:
        message:
          type: string
          example: Validation error while get position.
    UpdatePositionStatus:
      type: object
      properties:
        user_id:
          type: string
          example: id_123456kjhsad_3124987_sdak
        position_status:
          type: string
          example: INACTIVE
        position_id:
          type: string
          example: id_123456kjhsad_3124987_sdak
      required:
        - user_id
        - position_status
        - position_id
    UpdatePositionStatusResponse:
      type: object
      properties:
        message:
          type: string
          example: Position updated successfully.
        body:
          type: object
          properties:
            data:
              type: object
              properties:
                id:
                  type: string
                  example: "679077da2d6626a2b007f8f9"
                created_at:
                  type: string
                  example: "2025-01-03T01:34:59.063000"
                updated_at:
                  type: string
                  example: "2025-01-03T01:34:59.063000"
                deleted_at:
                  type: string
                  nullable: true
                  example: null
                props:
                  type: object
                  properties:
                    business_id:
                      type: string
                      example: "679077da2d6626a2b007f8f9"
                    owner_position_user_id:
                      type: string
                      example: "679077da2d6626a2b007f8f9"
                    recruiter_user_id:
                      type: string
                      example: "679077da2d6626a2b007f8f9"
                    responsible_users:
                      type: array
                      items:
                        type: object
                        properties:
                          user_id:
                            type: string
                            example: "679077da2d6626a2b007f8f9"
                          can_edit:
                            type: boolean
                            example: true
                    role:
                      type: string
                      example: "developer"
                    hiring_priority:
                      type: string
                      example: "high"
                    seniority:
                      type: string
                      example: "junior"
                    country:
                      type: string
                      example: "CO"
                    city:
                      type: string
                      example: "Bogota"
                    description:
                      type: string
                      example: "description"
                    responsabilities:
                      type: array
                      items:
                        type: string
                      example: ["responsability_1", "responsability_2"]
                    skills:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            example: "django"
                          required:
                            type: boolean
                            example: true
                    benefits:
                      type: string
                      example: "plan carrera"
                    salary_range:
                      type: object
                      properties:
                        currency:
                          type: string
                          example: "COP"
                        salary:
                          type: string
                          nullable: true
                          example: "10000000"
                        salary_range:
                          type: object
                          nullable: true
                          properties:
                            min:
                              type: string
                              example: "9000000"
                            max:
                              type: string
                              example: "12000000"
                    languages:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            example: "ingles"
                          level:
                            type: string
                            example: high
                    work_mode:
                      type: string
                      example: "Remote"
                    status:
                      type: string
                      example: "ACTIVE"
    UpdatePositionStatusValueError:
      type: object
      properties:
        message:
          type: string
          example: Validation error while get position.
    ListPositionByTokenResponse:
      type: object
      properties:
        message:
          type: string
          example: Position found successfully.
        body:
          type: object
          properties:
            data:
              type: object
              properties:
                business_name:
                  type: string
                  example: "Techco"
                business_id:
                  type: string
                  example: "679077da2d6626a2b007f8f9"
                business_logo:
                  type: string
                  example: "logo.jpg"
                business_description:
                  type: string
                  example: "business description large"
                position_id:
                  type: string
                  example: "67c7639f1ad8328f2a3184aa"
                position_role:
                  type: string
                  example: "developer frontend"
                position_country:
                  type: string
                  example: "CO"
                position_city:
                  type: string
                  example: "Bogota"
                position_work_mode:
                  type: string
                  example: "Remote"
                position_description:
                  type: string
                  example: "fromt end senior Bogota"
                position_responsabilities:
                  type: array
                  items:
                    type: string
                  example: ["responsability_1", "responsability_2"]
                position_skills:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        example: "django"
                      required:
                        type: boolean
                        example: true
                position_benefits:
                  type: string
                  example: "plan carrera"
                position_salary_range:
                  type: object
                  properties:
                    currency:
                      type: string
                      example: "COP"
                    salary:
                      type: string
                      example: "10000000"
                    salary_range:
                      type: object
                      nullable: true
                      properties:
                        min:
                          type: string
                          example: "9000000"
                        max:
                          type: string
                          example: "12000000"
                hiring_id:
                  type: string
                  example: "67c930fe1ad8328f2a3184c2"
                hiring_profile_name:
                  type: string
                  example: "fullname pepito perez"
                hiring_card_id:
                  type: string
                  example: "1234568979"
    ListPositionByTokenValueError:
      type: object
      properties:
        message:
          type: string
          example: Validation error while get position.
    HiringProcessByIdResponse:
      type: object
      properties:
        message:
          type: string
          example: Hiring process found successfully.
        body:
          type: object
          properties:
            data:
              type: object
              properties:
                position_country:
                  type: string
                  example: "CO"
                position_city:
                  type: string
                  example: "Bogota"
                position_status:
                  type: string
                  example: "ACTIVE"
                recruiter_id:
                  type: string
                  example: "67c7639f1ad8328f2a3184aa"
                recruiter_name:
                  type: string
                  example: "pepito perez"
                owner_id:
                  type: string
                  example: "67c7639f1ad8328f2a3184fa"
                owner_name:
                  type: string
                  example: "Juan perez"
                stakeholders:
                  type: array
                  items:
                    type: object
                    properties:
                      stakeholder_id:
                        type: string
                        example: "67c7639f1ad8328f2a3184dd"
                      stakeholder_name:
                        type: string
                        example: "Ana Bello"
                      can_edit:
                        type: boolean
                        example: true
    HiringProcessByIdValueError:
      type: object
      properties:
        message:
          type: string
          example: Validation error while get Hiring process.
    UpdateHiringProcessById:
      type: object
      properties:
        id:
          type: string
          example: 67c930fe1ad8328f2a3184c2
        phase_id:
          type: string
          example: "2"
        status:
          type: string
          example: STARTED
        profile:
          type: object
          properties:
            timestamp:
              type: string
              example: Mon Mar 03 2025 10:00:00 GMT-0500 (hora estándar de Colombia)
            linkedin_num_id:
              type: string
              example: "277819915"
            name:
              type: string
              example: peipto perez
            country_code:
              type: string
            position:
              type: string
            city:
              type: string
            current_company:
              type: string
            about:
              type: string
            posts:
              type: string
            experience:
              type: string
            url:
              type: string
            people_also_viewed:
              type: string
            educations_details:
              type: string
            education:
              type: string
            recommendations_count:
              type: string
            avatar:
              type: string
            languages:
              type: string
            certifications:
              type: string
            recommendations:
              type: string
            volunteer_experience:
              type: string
            courses:
              type: string
            followers:
              type: string
            connections:
              type: string
            current_company_company_id:
              type: string
            current_company_name:
              type: string
            publications:
              type: string
            patents:
              type: string
            projects:
              type: string
            organizations:
              type: string
            input_url:
              type: string
            linkedin_id:
              type: string
            activity:
              type: string
            banner_image:
              type: string
            honors_and_awards:
              type: string
            similar_profiles:
              type: string
            default_avatar:
              type: string
            memorialized_account:
              type: string
            profile_evaluation:
              type: string
            link_vacancy_form:
              type: string
            card_id:
              type: string
        phases: {}
        phase_history:
          type: array
          items:
            type: object
            properties:
              from_phase:
                type: object
                properties:
                  phase_id:
                    type: integer
                    example: 123654
                  name:
                    type: string
                    example: ASÑDLKAS
              to_phase:
                type: object
                properties:
                  phase_id:
                    type: integer
                    example: 987654
                  name:
                    type: string
                    example: ÑKDAFAS
              date:
                type: string
                format: date-time
                example: "2025-03-03T15:00:00"
        assistants:
          type: object
          example: {}
      required:
        - id
    UpdateHiringProcessByIdResponse:
      type: object
      properties:
        message:
          type: string
          example: Hiring process updated successfully.
        body:
          type: object
          properties:
            data:
              type: object
              properties:
                id:
                  type: string
                  example: 67c930fe1ad8328f2a3184c2
                phase_id:
                  type: string
                  example: "2"
                status:
                  type: string
                  example: STARTED
                profile:
                  type: object
                  properties:
                    timestamp:
                      type: string
                      example: Mon Mar 03 2025 10:00:00 GMT-0500 (hora estándar de Colombia)
                    linkedin_num_id:
                      type: string
                      example: "277819915"
                    name:
                      type: string
                      example: peipto perez
                    country_code:
                      type: string
                    position:
                      type: string
                    city:
                      type: string
                    current_company:
                      type: string
                    about:
                      type: string
                    posts:
                      type: string
                    experience:
                      type: string
                    url:
                      type: string
                    people_also_viewed:
                      type: string
                    educations_details:
                      type: string
                    education:
                      type: string
                    recommendations_count:
                      type: string
                    avatar:
                      type: string
                    languages:
                      type: string
                    certifications:
                      type: string
                    recommendations:
                      type: string
                    volunteer_experience:
                      type: string
                    courses:
                      type: string
                    followers:
                      type: string
                    connections:
                      type: string
                    current_company_company_id:
                      type: string
                    current_company_name:
                      type: string
                    publications:
                      type: string
                    patents:
                      type: string
                    projects:
                      type: string
                    organizations:
                      type: string
                    input_url:
                      type: string
                    linkedin_id:
                      type: string
                    activity:
                      type: string
                    banner_image:
                      type: string
                    honors_and_awards:
                      type: string
                    similar_profiles:
                      type: string
                    default_avatar:
                      type: string
                    memorialized_account:
                      type: string
                    profile_evaluation:
                      type: string
                    link_vacancy_form:
                      type: string
                    card_id:
                      type: string
                phases: {}
                phase_history:
                  type: array
                  items:
                    type: object
                    properties:
                      from_phase:
                        type: object
                        properties:
                          phase_id:
                            type: integer
                            example: 123654
                          name:
                            type: string
                            example: ASÑDLKAS
                      to_phase:
                        type: object
                        properties:
                          phase_id:
                            type: integer
                            example: 987654
                          name:
                            type: string
                            example: ÑKDAFAS
                      date:
                        type: string
                        format: date-time
                        example: "2025-03-03T15:00:00"
                assistants:
                  type: object
                  example: {}
    UpdateHiringProcessCustomFieldsById:
      type: object
      properties:
        id:
          type: string
          example: 67c930fe1ad8328f2a3184c2
        phases:
          type: object
          example:
            { "123456778": { "phase_id": "123456778", "custom_fields": {} } }
      required:
        - id
        - phases
    UpdateHiringProcessCustomFieldsByIdResponse:
      type: object
      properties:
        message:
          type: string
          example: Hiring process updated successfully.
        body:
          type: object
          properties:
            data:
              type: object
              properties:
                id:
                  type: string
                  example: 67c930fe1ad8328f2a3184c2
                phase_id:
                  type: string
                  example: "2"
                status:
                  type: string
                  example: STARTED
                profile:
                  type: object
                  properties:
                    timestamp:
                      type: string
                      example: Mon Mar 03 2025 10:00:00 GMT-0500 (hora estándar de Colombia)
                    linkedin_num_id:
                      type: string
                      example: "277819915"
                    name:
                      type: string
                      example: peipto perez
                    country_code:
                      type: string
                    position:
                      type: string
                    city:
                      type: string
                    current_company:
                      type: string
                    about:
                      type: string
                    posts:
                      type: string
                    experience:
                      type: string
                    url:
                      type: string
                    people_also_viewed:
                      type: string
                    educations_details:
                      type: string
                    education:
                      type: string
                    recommendations_count:
                      type: string
                    avatar:
                      type: string
                    languages:
                      type: string
                    certifications:
                      type: string
                    recommendations:
                      type: string
                    volunteer_experience:
                      type: string
                    courses:
                      type: string
                    followers:
                      type: string
                    connections:
                      type: string
                    current_company_company_id:
                      type: string
                    current_company_name:
                      type: string
                    publications:
                      type: string
                    patents:
                      type: string
                    projects:
                      type: string
                    organizations:
                      type: string
                    input_url:
                      type: string
                    linkedin_id:
                      type: string
                    activity:
                      type: string
                    banner_image:
                      type: string
                    honors_and_awards:
                      type: string
                    similar_profiles:
                      type: string
                    default_avatar:
                      type: string
                    memorialized_account:
                      type: string
                    profile_evaluation:
                      type: string
                    link_vacancy_form:
                      type: string
                    card_id:
                      type: string
                phases: {}
                phase_history:
                  type: array
                  items:
                    type: object
                    properties:
                      from_phase:
                        type: object
                        properties:
                          phase_id:
                            type: integer
                            example: 123654
                          name:
                            type: string
                            example: ASÑDLKAS
                      to_phase:
                        type: object
                        properties:
                          phase_id:
                            type: integer
                            example: 987654
                          name:
                            type: string
                            example: ÑKDAFAS
                      date:
                        type: string
                        format: date-time
                        example: "2025-03-03T15:00:00"
                assistants:
                  type: object
                  example: {}

    ProfileFilterStart:
      type: object
      properties:
        business_id:
          type: string
          example: id_123456kjhsad_3124987_sdak
        position_id:
          type: string
          example: id_123456kjhsad_3124987_sdak
        role:
          type: string
          example: recruiter
        seniority:
          type: string
          example: junior
        country_code:
          type: string
          example: CO
        city:
          type: string
          example: Bogota
        description:
          type: string
          example: description
        responsabilities:
          type: array
          items:
            type: string
          example: [responsability_1, responsability_2]
        skills:
          type: array
          items:
            type: string
          example: [django, python]
      required:
        - business_id
        - position_id
        - role
        - seniority
        - country_code
        - city
        - description
        - responsabilities
        - skills

    ProfileFilterStartResponse:
      type: object
      properties:
        message:
          type: string
          example: Profile filter process started.
        body:
          type: object
          properties:
            id:
              type: string
              example: id_123456kjhsad_3124987_sdak
            position_id:
              type: string
              example: id_123456kjhsad_3124987_sdak
            business_id:
              type: string
              example: id_123456kjhsad_3124987_sdak
            process_filters:
              $ref: "#/components/schemas/ProfileFilterStart"
    GetNotificationListResponse:
      type: object
      properties:
        message:
          type: string
          example: Notification found successfully.
        body:
          type: object
          properties:
            data:
              type: object
              properties:
                _id:
                  type: string
                  example: id_123456kjhsad_3124987_sdak
                created_at:
                  type: string
                  example: 2025-03-28T18:00:00.000Z
                updated_at:
                  type: string
                  example: 2025-03-28T18:00:00.000Z
                deleted_at:
                  type: string
                  nullable: true
                  example: null
                user_id:
                  type: string
                  example: id_123456kjhsad_3124987_sdak
                business_id:
                  type: string
                  example: id_123456kjhsad_3124987_sdak
                message:
                  type: string
                  example: "pepito cambio de fase"
                notification_type:
                  type: string
                  example: "PHASE_CHANGE"
                  enum:
                    - PHASE_CHANGE
                    - TAGGED_IN_COMMENT
                    - PROFILE_FILTER_PROCESS
                status:
                  type: string
                  example: "READ"
                process:
                  type: string
                  nullable: true
                  example: null
                hiring_process_id:
                  type: string
                  example: id_123456kjhsad_3124987_sdak
                read_at:
                  type: string
                  nullable: true
                  example: null
                phase_id:
                  type: string
                  example: id_123456kjhsad_3124987_sdak
                card_id:
                  type: string
                  example: id_123456kjhsad_3124987_sdak
                profile_name:
                  type: string
                  example: "pepito perez"
                pipe_id:
                  type: string
                  example: id_123456kjhsad_3124987_sdak
                position_name:
                  type: string
                  example: "developer"
    PostNotification:
      type: object
      properties:
        user_id:
          type: string
          example: "6777862efe77308365432a36"
        business_id:
          type: string
          example: "6791faad993cf24a7b7f37b2"
        message:
          type: string
          example: "mensaje de prueba post notification"
        notification_type:
          type: string
          example: "TAGGED_IN_COMMENT"
        hiring_process_id:
          type: string
          example: "67c930fe1ad8328f2a3184c2"
        phase_id:
          type: string
          example: "1"
      required:
        - user_id
        - business_id
        - message
        - notification_type
        - hiring_process_id
        - phase_id
    PostNotificationResponse:
      type: object
      properties:
        message:
          type: string
          example: Notification created successfully.
    UpdateNotificationStatus:
      type: object
      properties:
        notification_id:
          type: string
          example: id_123456kjhsad_3124987_sdak
        status:
          type: string
          example: READ
          enum:
            - READ
            - REVIEWED
      required:
        - notifiaction_id
        - status
    UpdateNotificationStatusResponse:
      type: object
      properties:
        message:
          type: string
          example: Notification updated successfully.
    GetPositionConfigurationListResponse:
      type: object
      properties:
        message:
          type: string
          example: position configuration found successfully.
        body:
          type: object
          properties:
            data:
              type: object
              properties:
                _id:
                  type: string
                  example: id_123456kjhsad_3124987_sdak
                created_at:
                  type: string
                  example: 2025-03-28T18:00:00.000Z
                updated_at:
                  type: string
                  example: 2025-03-28T18:00:00.000Z
                deleted_at:
                  type: string
                  nullable: true
                  example: null
                user_id:
                  type: string
                  example: id_123456kjhsad_3124987_sdak
                thread_id:
                  type: string
                  example: id_123456kjhsad_3124987_sdak
                status:
                  type: string
                  example: "COMPLETED"
                  enum:
                    - COMPLETED
                    - IN_PROGRESS
                    - DRAFT
                type:
                  type: string
                  example: "AI_TEMPLATE"
                  enum:
                    - AI_TEMPLATE
                    - CUSTOM
                    - OTHER_POSITION_AS_TEMPLATE
                phases:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        example: phase_1
                      thread_id:
                        type: string
                        example: "id_123456"
                      status:
                        type: string
                        example: "COMPLETED"
                        enum:
                          - COMPLETED
                          - IN_PROGRESS
                          - DRAFT
                      type:
                        type: string
                        example: "DESCRIPTION"
                        enum:
                          - DESCRIPTION
                          - READY_TO_PUBLISH
                          - FINAL_INTERVIEW
                          - TECHNICAL_TEST
                          - SOFT_SKILLS
                      data:
                        type: object
                        example: {}
    PostPositionConfiguration:
      type: object
      properties:
        business_id:
          type: string
          example: "6777862efe77308365432a36"
        flow_type:
          type: string
          example: "AI_TEMPLATE"
          enum:
            - HIGH_PROFILE_FLOW
            - CUSTOM
            - OTHER_POSITION_AS_TEMPLATE
      required:
        - business_id
        - flow_type
    PostPositionConfigurationResponse:
      type: object
      properties:
        thread_id:
          type: string
          example: "6777862efe77308365432a36"
        status:
          type: string
          example: "COMPLETED"
          enum:
            - COMPLETED
            - IN_PROGRESS
            - DRAFT
        type:
          type: string
          example: "AI_TEMPLATE"
          enum:
            - AI_TEMPLATE
            - CUSTOM
            - OTHER_POSITION_AS_TEMPLATE>
        phases:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: phase_1
              thread_id:
                type: string
                example: "id_123456"
              status:
                type: string
                example: "COMPLETED"
                enum:
                  - COMPLETED
                  - IN_PROGRESS
                  - DRAFT
              type:
                type: string
                example: "DESCRIPTION"
                enum:
                  - DESCRIPTION
                  - READY_TO_PUBLISH
                  - FINAL_INTERVIEW
                  - TECHNICAL_TEST
                  - SOFT_SKILLS
              data:
                type: object
                example: {}
    PutPositionConfiguration:
      type: object
      properties:
        _id:
          type: string
          example: "6777862efe77308365432a36"
        created_at:
          type: string
          example: "2025-04-14T00:14:46.388345"
        updated_at:
          type: string
          example: "2025-04-14T00:14:46.388345"
          nullable: true
        deleted_at:
          type: string
          example: "2025-04-14T00:14:46.388345"
          nullable: true
        user_id:
          type: string
          example: "6777862efe77308365432a36"
        business_id:
          type: string
          example: "6777862efe77308365432a36"
        thread_id:
          type: string
          example: "6777862efe77308365432a36"
        status:
          type: string
          example: "COMPLETED"
          enum:
            - COMPLETED
            - IN_PROGRESS
            - DRAFT
        type:
          type: string
          example: "AI_TEMPLATE"
          enum:
            - AI_TEMPLATE
            - CUSTOM
            - OTHER_POSITION_AS_TEMPLATE>
        phases:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: phase_1
              thread_id:
                type: string
                example: "id_123456"
              status:
                type: string
                example: "COMPLETED"
                enum:
                  - COMPLETED
                  - IN_PROGRESS
                  - DRAFT
              type:
                type: string
                example: "DESCRIPTION"
                enum:
                  - DESCRIPTION
                  - READY_TO_PUBLISH
                  - FINAL_INTERVIEW
                  - TECHNICAL_TEST
                  - SOFT_SKILLS
              data:
                type: object
                example: {}
            required:
              - name
              - thread_id
              - status
              - data
              - type
      required:
        - _id
        - created_at
        - updated_at
        - deleted_at
        - user_id
        - business_id
        - thread_id
        - status
        - phases
        - type
    PutPositionConfigurationResponse:
      type: object
      properties:
        _id:
          type: string
          example: "6777862efe77308365432a36"
        created_at:
          type: string
          example: "2025-04-14T00:14:46.388345"
        updated_at:
          type: string
          example: "2025-04-14T00:14:46.388345"
          nullable: true
        deleted_at:
          type: string
          example: "2025-04-14T00:14:46.388345"
          nullable: true
        user_id:
          type: string
          example: "6777862efe77308365432a36"
        business_id:
          type: string
          example: "6777862efe77308365432a36"
        thread_id:
          type: string
          example: "6777862efe77308365432a36"
        status:
          type: string
          example: "COMPLETED"
          enum:
            - COMPLETED
            - IN_PROGRESS
            - DRAFT
        type:
          type: string
          example: "AI_TEMPLATE"
          enum:
            - AI_TEMPLATE
            - CUSTOM
            - OTHER_POSITION_AS_TEMPLATE>
        phases:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                example: phase_1
              thread_id:
                type: string
                example: "id_123456"
              status:
                type: string
                example: "COMPLETED"
                enum:
                  - COMPLETED
                  - IN_PROGRESS
                  - DRAFT
              type:
                type: string
                example: "DESCRIPTION"
                enum:
                  - DESCRIPTION
                  - READY_TO_PUBLISH
                  - FINAL_INTERVIEW
                  - TECHNICAL_TEST
                  - SOFT_SKILLS
              data:
                type: object
                example: {}
    GetLlmMessagesHistoryResponse:
      type: object
      properties:
        message:
          type: string
          example: messages found successfully.
        body:
          type: object
          properties:
            data:
              type: object
              properties:
                object:
                  type: string
                  example: "list"
                data:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        example: "6777862efe77308365432a36"
                      object:
                        type: string
                        example: "message"
                      created:
                        type: integer
                        example: 1677859200
                      assistand_id:
                        type: string
                        example: "6777862efe77308365432a36"
                      thread_id:
                        type: string
                        example: "6777862efe77308365432a36"
                      run_id:
                        type: string
                        example: "6777862efe77308365432a36"
                      role:
                        type: string
                        example: "assistant"
                      content:
                        type: array
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              example: "text"
                            text:
                              type: string
                              example: "Hello, how are you?"
                      attachments:
                        type: array
                        items:
                          type: object
                      metadata:
                        type: object
                first_id:
                  type: string
                  example: "6777862efe77308365432a36"
                last_id:
                  type: string
                  example: "6777862efe77308365432a36"
                has_more:
                  type: boolean
                  example: true
    CompletePhaseRequest:
      type: object
      properties:
        position_configuration_id:
          type: string
        data:
          type: object
      required:
        - position_configuration_id
        - data
    CompletePhaseResponse:
      type: object
      properties:
        message:
          type: string
          example: "Phase completed successfully"
        body:
          type: object
          properties:
            data:
              type: object
              properties:
                _id:
                  type: string
                  example: "6777862efe77308365432a36"
                created_at:
                  type: string
                  example: "2025-04-14T00:14:46.388345"
                updated_at:
                  type: string
                  example: "2025-04-14T00:14:46.388345"
                deleted_at:
                  type: string
                  example: "2025-04-14T00:14:46.388345"
                user_id:
                  type: string
                  example: "6777862efe77308365432a36"
                business_id:
                  type: string
                  example: "6777862efe77308365432a36"
                current_phase:
                  type: string
                  example: "SOFT_SKILLS"
                status:
                  type: string
                  example: "COMPLETED"
                type:
                  type: string
                  example: "AI_TEMPLATE"
                phases:
                  type: array
                  items: {}
    NextPhaseRequest:
      type: object
      properties:
        position_configuration_id:
          type: string
        configuration_type:
          type: string
          example: "AI_TEMPLATE"
      required:
        - position_configuration_id
        - configuration_type
    PositionConfiguration:
      type: object
      properties:
        message:
          type: string
          example: "Phase completed successfully"
        body:
          type: object
          properties:
            data:
              type: object
              properties:
                _id:
                  type: string
                  example: "6777862efe77308365432a36"
                created_at:
                  type: string
                  example: "2025-04-14T00:14:46.388345"
                updated_at:
                  type: string
                  example: "2025-04-14T00:14:46.388345"
                deleted_at:
                  type: string
                  example: "2025-04-14T00:14:46.388345"
                user_id:
                  type: string
                  example: "6777862efe77308365432a36"
                business_id:
                  type: string
                  example: "6777862efe77308365432a36"
                current_phase:
                  type: string
                  example: "SOFT_SKILLS"
                status:
                  type: string
                  example: "COMPLETED"
                type:
                  type: string
                  example: "AI_TEMPLATE"
                phases:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        example: "SOFT_SKILLS"
                      thread_id:
                        type: string
                        example: "id_123456"
                      status:
                        type: string
                        example: "COMPLETED"
                        enum:
                          - COMPLETED
                          - IN_PROGRESS
                          - DRAFT
                      type:
                        type: string
                        example: "DESCRIPTION"
                        enum:
                          - DESCRIPTION
                          - READY_TO_PUBLISH
                          - FINAL_INTERVIEW
                          - TECHNICAL_TEST
                          - SOFT_SKILLS
                      data:
                        type: object
                        example: {}
    CreatePositionRequest:
      type: object
      properties:
        position_configuration_id:
          type: string
        configuration_type:
          type: string
          example: "AI_TEMPLATE"
      required:
        - position_configuration_id
        - configuration_type
    Position:
      type: object
      properties:
        message:
          type: string
          example: "Position created successfully"
        body:
          type: object
          properties:
            data:
              type: object
              properties:
                _id:
                  type: string
                  example: "6777862efe77308365432a36"
                created_at:
                  type: string
                  example: "2025-04-14T00:14:46.388345"
                updated_at:
                  type: string
                  example: "2025-04-14T00:14:46.388345"
                deleted_at:
                  type: string
                  example: "2025-04-14T00:14:46.388345"
                position_configuration_id:
                  type: string
                  example: "6777862efe77308365432a36"
                business_id:
                  type: string
                  example: "6777862efe77308365432a36"
                owner_position_user_id:
                  type: string
                  example: "6777862efe77308365432a36"
                recruiter_user_id:
                  type: string
                  example: "6777862efe77308365432a36"
                responsible_users:
                  type: array
                  items:
                    type: object
                    properties:
                      user_id:
                        type: string
                        example: "6777862efe77308365432a36"
                      can_edit:
[...]
